.sideBarLeft-container{
    margin: 10px;
    background-color: #373737;
    width: 180px;
    height: 350px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
    color: white;
}
.header h3{
    border-bottom: 1px solid gray;
}

.topics ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
    height: 200px;
}