.nav-container{
    width: 100vw;
    height: 4rem;
    background-color: var(--MainBGBlack);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    padding: 20px;
}
.nav-logo img{
    width: 150px;
}
.nav-input input{
    border-radius: 4px;
    width: 20rem;
    height: 2rem;
    border: none;
    background-color: var(--LightBGBlack);
    color: #fff;
    padding: 10px;
    font-weight: bold;
}


.nav-buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nav-buttons button{
    width: 5.5rem;
    height: 2.1rem;
    border-radius: 14px;
    font-weight: bold;
    border: none;
    outline: 1px solid;
    font-family: var(--TextFont);
    display: flex;
    align-items: center;
    justify-content: center;
}
.login{
    color: #fff;
}
.signup{
    color: black;
}
.userIcon{
    color: white;
    width: 2rem;
    height: 3rem;
    cursor: pointer;
}

#searchInput::placeholder{
    background-color: var(--TextFont);
}