.createpost-container{
    width: 40rem;
    height: 100vh;
    background-color: var(--MainBGBlack);
    border-radius: 4px;
    margin: 10px;
    

}


.createpost-content{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-between;
}
.createpost-header{
    width: 100%;
    height: 5rem;
    background-color: var(--LightBGBlack);
    border-radius: 4px;
    color: #fff;
    font-family: var(--TextFont);
    display: flex;
    align-items: center;
    gap: 7rem;
}
.userIcon{
    display: flex;
}
.userIcon p{
    font-size: 12px;
}
.createpost-header img{
    border-radius: 50%;
}



.createpost-main{
    width: 100%;
    height: 70%;
    display: flex;
   
    gap: 20px;
  
}
.left-btn{
    height: 21.5rem;
    width: 2.5rem;
    background-color: var(--LightBGBlack);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    color: #fff;
}


.main-content{
    width: 8rem;
    height: 8rem;
    margin: auto;
    background-color: var(--LightBGBlack);
    border-radius: 4px;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    border: 2px solid rgb(163, 161, 161);

}

.upload-img {
    align-items: center;
    display: flex;
}


.bottom-btn{
    width: 100%;
    height: 2rem;
    background-color: var(--LightBGBlack);
    border-radius: 4px;
    margin: 5px 0;
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 10px;
    font-family: var(--TextFont);
}

.post-btn, .cancel-btn{
    border:1px solid gray;
    background: transparent;
    display: flex;
    padding: 3px;
    gap: 10px;
    font-size: 14px;
    color: #BEB7B7;
}

.bottom-icons:hover{
    color: #fff;
}